<div class="container-fluid">

    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-info fade in">
                <div class="panel-heading">
                    <h3 class="panel-title">Pool Schedule</h3>
                </div>
                <div class="panel-body">

                    <ul class="nav nav-tabs" id="scheduleTab">
                        <li class="active">
                            <a href="#tabMonday" data-toggle="tab">Monday</a></li>
                        <li>
                            <a href="#tabTuesday" data-toggle="tab">Tuesday</a></li>
                        <li>
                            <a href="#tabWednesday" data-toggle="tab">Wednesday</a></li>
                        <li>
                            <a href="#tabThursday" data-toggle="tab">Thursday</a></li>
                        <li>
                            <a href="#tabFriday" data-toggle="tab">Friday</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in table-responsive" id="tabMonday">

                            @*<div class="actions">
                            <a id="AddLaneAssignment" class="work" href="#" title="Add a pool lane assignment.">Add Pool Assignment</a>

                        </div>*@
                        </div>
                        <div class="tab-pane fade table-responsive" id="tabTuesday">
                        </div>
                        <div class="tab-pane fade table-responsive" id="tabWednesday">
                        </div>
                        <div class="tab-pane fade table-responsive" id="tabThursday">
                            <span class="label label-info">Thursday Schedule</span>
                        </div>
                        <div class="tab-pane fade table-responsive" id="tabFriday">
                            <span class="label label-info">Friday Schedule</span>
                        </div>
                    </div>

                </div>

            </div>
            </div>
        <div class="col-md-4">
            @*<section class="navspy nav-stacked affix">*@

                <div id="slotDesc" class="panel panel-info fade in" style="display: none">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lane Activity Information</h3>
                    </div>
                    <div class="panel-body">
                        
                            <div data-bind="text: activityDescription"></div>
                        

                        <div id="slotDetails">
                            <!--Templates-->
                            <div id="intructorTemplate" >
                                <h4>Instructor Information:</h4>
                                <div data-bind="text: instructorName"></div>
                                <div data-bind="text: instructorPhone"></div>
                            </div>
                            <div id="studentTemplate" >
                                <h4>Student Information:</h4>
                                <div data-bind="text: studentName"></div>
                                <div data-bind="text: studentPhone"></div>
                            </div>
                        </div>
                    </div>
                </div>
            @*</section>*@
        </div>

        </div>
</div>
       

