/* MAIN */

body { font-size:0.8em;}
body,input,textarea { font-family:tahoma, sans-serif; }

code {
	font-size:1.2em;
	background:#eee;
	border:1px solid #aaa;
	padding:2px;
}

#container {
	margin:0 auto; padding:0 1em;
	width:800px;
}

#header,ol,table { cursor:default; }

/* SCHEDULE/TABLES */

/*table {
	border-collapse:collapse;
	border:1px solid #000;
	width:100%;
}

thead th {
	padding:0.5em;
	color:#fff; background:#333;
}

tbody td,tbody th {
	border:1px solid #aaa;
	background:#eee;
	line-height:1.5em;
}

tbody th {
	background:#ddd;
	font-weight:normal;
	height:50px; width:100px;
}

tbody td { text-align:left; vertical-align:top; }
thead th,tbody td { width:150px; min-width:120px; }*/

/* SELECTABLES */

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; border-color:#FECA40; }

/* TIME COLUMN */

#schedule input {
	text-align:center;
	border:1px solid transparent; outline:none;
	overflow:hidden;
	width:95%;
}

#schedule thead input {
	font-weight:bold;
	background:#333; color:#fff;
}

#schedule thead input:hover,
#schedule thead input:focus { border-color:#fff; }

#schedule tbody input {
	background:#ddd;
	margin:0; padding:0.5em 0;
}

#schedule tbody input:hover,
#schedule tbody input:focus {
	border-color:#333;
	background:#fff;
}

/* ENTRIES */

#schedule .entry {
	display:block; float:left;
	margin:5px; padding:5px;
	border:1px solid #aaa;
	background-color:#eee; color:#333;
}

#schedule .deletable {
	cursor:pointer;
	border-color:#aea;
	background-color:#dfd; color:#070;	
}

#schedule .deleting,
#schedule .deletable:hover {
	border-color:#eaa;
	background:#fdd; color:#700;
}

#schedule th.adding ,
#schedule td.adding {
	background-image:url(../resources/bg_aea.png);
	background-position:bottom left;
	background-repeat:repeat-x;
}

#schedule input.adding,
#schedule input.deleting { border:0; }

/* CLONED/GENERATED SCHEDULE */

#clone { margin-top:3em; }

#clone span {
	display:block;
	padding:1em;
}

.cloned .entry {
	padding:5px;
	font-size:1.2em;
}

.cloned tbody td {
	vertical-align:bottom; text-align:right;
	padding:2px;
}

/* MESSAGES */

#messages { height:80px; }

.message,
.actions a {
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
	box-shadow:0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

.message {
	margin:1em;	padding:0.5em;
	text-indent:0.5em;
	border:1px solid #eee;
	float:left;
	background-image:url(../resources/overlay-button.png);
}

#info   { border-color:#aea; background:#efe; color:#070; }
#error { border-color:#eaa; background:#fee; color:#700; }

/* BUTTONS */

.actions { margin:0.5em 0; }
.actions div { display:inline-block; margin-right:1em; }

.actions a {
	display: inline-block;
	padding: 5px 10px 6px;
	font-weight: bold; text-decoration: none;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background-color:#000; color: #fff;
	background-image:url(../resources/overlay-button.png);
}

.actions a:active { background-image:none; }
.actions input { margin-right:5px; padding:2px; }

.actions .add {
	border-bottom:2px solid #0c0;
	border-top-right-radius:0; border-bottom-right-radius:0;
	-webkit-border-top-right-radius:0; -webkit-border-bottom-right-radius:0;
	-moz-border-radius-topright:0; -moz-border-radius-bottomright:0;
}

.actions .accept {
	background-color: #529214;
	border-top-left-radius:0; border-bottom-right-radius:0;
	-webkit-border-top-left-radius:0; -webkit-border-bottom-right-radius:0;
	-moz-border-radius-topleft:0; -moz-border-radius-bottomright:0;
}

.actions .add:hover,
.actions .accept:hover {
	background-color:#070; color:#fff;
	border-bottom:0;
}

.actions .delete {
	border-bottom:2px solid #f12;
	border-top-left-radius:0; border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0; -webkit-border-bottom-left-radius:0;
	-moz-border-radius-topleft:0; -moz-border-radius-bottomleft:0;
}

.actions .cancel,
.actions .work {
	border-top-left-radius:0; border-bottom-right-radius:0;
	-webkit-border-top-left-radius:0; -webkit-border-bottom-right-radius:0;
	-moz-border-radius-topleft:0; -moz-border-radius-bottomright:0;
}

.actions .cancel  { background-color: #D12F19; }

.actions .delete:hover,
.actions .cancel:hover {
	background-color:#700; color:#fff;
	border-bottom:0;
}

.actions .work {	border-bottom:2px solid #66f; }
.actions .work:hover { background-color:#007; border-bottom-color:transparent; }